@import "mirotone/dist/styles.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
}

#root {
  width: 100%;
  overflow: auto;
  padding: var(--space-medium);
}

img {
  max-width: 100%;
  height: auto;
}

.fw {
  width: 100%;
}

.fh {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

.dice-box-canvas {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.adv-roller {
  position: relative !important;
  margin: 0;
}

.roll-input {
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: none;
  border: 1px #bebebe solid;
  background: #fafafa;
  margin-bottom: 20px;
}

.roll-history-entry {
  max-width: 800px;
  margin: 0 auto;
  word-break: break-word;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
}
