@import "mirotone/dist/styles.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
}

#root {
  width: 100%;
  overflow: auto;
  padding: var(--space-medium);
}

img {
  max-width: 100%;
  height: auto;
}

.fw {
  width: 100%;
}

.fh {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

.flex-horizontal {
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-v-center {
  align-items: center;
}

.dice-box-canvas {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.roll-input {
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: none;
  border: 1px #bebebe solid;
  background: #fafafa;
  margin-bottom: 10px;
}

.roll-history-entry {
  max-width: 400px;
  margin: 0 auto;
  word-break: break-word;
}

.well {
  background: rgba(200, 200, 200, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  background: white;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #333;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(.9, .9, .9, .8);
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  width: max-content;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
